$main-border-color: #145894;
$main-border-color-70: #6b94b6;

.PDFviewModalV2 {
    width: 100%;
    height: 100%;
    background: green;
    position: relative;
    .PDFWrapper {
        background:#b4b4b4;
        overflow-y: auto;
        overflow-x: hidden;
        box-sizing: border-box;
        display:flex;
        justify-content: center;
        // align-items: center;
        position:relative;
        margin:auto;
        .PDFcanvas{
            margin:auto;
            // z-index: 1000;
            // position:absolute;
            
            // background:purple;
        }
        .heatmapWrapper,.pathwayGazeCanvas{
            position:absolute;
            left:0;
            top:0;
        }
        //스크롤바 디자인
        &::-webkit-scrollbar {
            width: 5px;
            height: 5px;
            background: $main-border-color;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 3.5px;
            background-color: $main-border-color;

            &:hover {
                background-color: blue;
            }
        }

        &::-webkit-scrollbar-track {
            background: $main-border-color-70;

        }
    }

    .first_loading{
        position:absolute;
        width:100%;
        height:100%;
        left:0;
        top:0;
        display:flex;
        justify-content: center;
        align-items: center;
        background:green;        
    }
}