.App {
    text-align: center;
  }
  html,body,#root,.App{
    height:100%;
    width:100%;
    margin:0;
    padding:0;
  }
  
  .PDFDocWrap{
    position:fixed;
    width:80%;
    height:80%;
    left:10%;
    top:10%;
    background:#b4b4b4;
    outline:3px solid orange;
    // overflow:hidden;
    // width:1920px;
    // height:1080px;
    // left:200px;
    // top:200px;
    // transform:scale(0.5);
    // transform-origin: left top;
}

